.color-matrix {
	/* width: min(79vw, 89vh); */
	/* height: min(79vw, 89vh); */
	border-radius: 2px;
}

.squareholder {
	height: 160px;
	width: 100%;
    display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    /*padding-left: 50px;*/
    /*padding-right: 90px;*/
    border: 1px solid grey;
	flex-direction: column-reverse;
	flex-wrap: wrap-reverse;
}
.color-atom {
	/*flex: 0 0 0%;*/
	flex: none;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	position: relative;
    margin-left: 0px;
}

.color-atom.placeholder {
	border: 0px;
	margin: 1px;
	color: transparent;
}

.color-atom .color-atom-tooltip {
	display: none;
}

.color-atom:hover .color-atom-tooltip {
	display: block;
	border: 2px solid white;
	box-shadow: 1px 1px 3px gray;
	position: absolute;
	background-color: #ffffff;
	pointer-events: none;
}

.color-atom-tooltip .atom-canvas {
	width: 400px;
	max-height: 450px;
	padding-bottom: 20px;
}

